/* change-password.component.scss */


.reset-container{
  width: 70%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.left-side{
  width: 50%;
  height: 100%;
  background-color: #1976d2;
  border-radius: 8px 0px 0px 8px;
  background-image: url('./../../../assets/disco-1081484_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.right-side{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
    padding: 1rem;

}

.reset-card {
  width: 100%;
  max-width: 400px;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  

  mat-card-title {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--warn-color);
    color: var(--white-color);
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
  }

  .full-width {
    width: 100%;
  }

  button {
    margin-top: 0.5rem;
  }
}

/* Custom outline color on the mat-form-field */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline path {
  stroke: #1976d2;  /* primary color */
}

/* Thicker outline on focus */
::ng-deep .mat-form-field-appearance-outline.mat-focused
         .mat-form-field-outline-thick path {
  stroke: #115293;  /* darker primary */
}
