<div class="reset-container">
  <div class="left-side">
    <div class="image">
    </div>
  </div>
  <div class="right-side">
    <mat-card class="reset-card">
      <mat-card-title>Choose New Password</mat-card-title>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="hidden" formControlName="token" />

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirm" />
          <mat-error *ngIf="form.hasError('mismatch')">
            Passwords must match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" [disabled]="form.invalid">
          Reset Password
        </button>
      </form>
    </mat-card>
  </div>
  
</div>
