    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">My Event Manager</span>
      <span class="spacer"></span>

      <!-- Theme Toggle Button -->
      <button 
        mat-icon-button 
        class="theme-toggle-btn"
        (click)="toggleTheme()"
        [matTooltip]="isDarkMode ? 'Switch to Light Mode' : 'Switch to Dark Mode'"
        matTooltipPosition="below">
        <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
         <ng-container *ngIf="isLoggedin; else notLogged">

          <button mat-menu-item [routerLink]="profileLink()">
            <mat-icon>person</mat-icon>
            <span>Account</span>
          </button>

          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
          
        </ng-container>

        <ng-template #notLogged>
          <button mat-menu-item routerLink="/login">
            <mat-icon>alternate_email</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item routerLink="/register">
            <mat-icon>edit</mat-icon>
            <span>Register</span>
          </button>
        </ng-template>

  
      </mat-menu>

    </mat-toolbar>